* {
    margin: 0;
    padding: 0;
    border: 0;

    transition: color .2s ease, background-color .2s ease;
}

/* default styling */

:root {
    /* colors */
    --main-500: #B6DEFF;
    --main-glow: #ECF8FD;

    --accent-500: #0E283C;

    --body-bg: #FCFCFC;
    --field-bg: #FBF6E8;

    --text-100: #F9FBF2;
    --text-500: #62656a;
    --text-800: #09090c;

    /* font styles */
    --fw-thin: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --fs-800: 40pt;
    --fs-700: 36pt;
    --fs-600: 24pt;
    --fs-500: 20pt;
    --fs-400: 16pt;
    --fs-300: 12pt;

    /* padding + border */
    --border-outer: 1.25rem;
    --border-inner: .8rem;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--body-bg);
    min-height: 100vh;
    width: 100vw;
}

h1 {
    font-size: var(--fs-800);
    font-weight: var(--fw-bold);
    font-family: 'degular-display', sans-serif;
    color: var(--accent-500);
}

p {
    font-weight: var(--fw-medium);
    font-family: 'degular', sans-serif;
    font-size: var(--fs-600);
    color: var(--text-800);
}

b {
    font-weight: var(--fw-regular);
}

span {
    font-family: 'degular', sans-serif;
    font-size: var(--fs-500);
    font-weight: var(--fw-thin);
    color: var(--text-800);
    font-style: italic;
}

/* header */

header {
    margin-bottom: 1.5rem;
}

.header-inner {
    display: grid;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;

    gap: .5rem;
    background-color: var(--main-500);

    text-align: center;
    padding: 1.5rem;
    padding-bottom: .75rem;

    p {
        padding-bottom: .5rem;
    }
}

/* header svg {
    filter: drop-shadow(0 0 15px var(--main-shadow));
    clip-path: rect(0 100% 400% 0);
} */

/* search bar */

.search {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    max-width: 850px;
    z-index: 4;

    padding: .5rem;
    border-radius: var(--border-outer);
    background: var(--field-bg);

    box-shadow: 0 0 30px var(--main-glow);
}

input,
button {
    font-weight: var(--fw-medium);
    font-family: 'degular', sans-serif;
    line-height: 1;
    font-size: var(--fs-500);
    border-radius: var(--border-inner);
    transition: outline-width .2s ease,
        outline-offset .2s ease,
        background-color .02s ease,
        scale .02s ease;
}

input {
    width: 100%;
    margin-right: .5rem;
    padding-inline: 1rem;
    outline: 0px solid var(--accent-500);
    background: var(--field-bg);
}

button {
    cursor: pointer;
    padding: 1rem;
    padding-inline: 1.5rem;
    color: var(--text-800);
    background-color: var(--main-500);
    outline: 0px solid var(--accent-500);
}

button:focus,
input:focus,
button:hover {
    outline-width: 5px;
    outline-offset: -5px;
    color: var(--accent-500);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(/search-clear.svg) no-repeat 50% 50%;
  background-size: contain;
  transform: scale(0);
  pointer-events: none;
  cursor: pointer;
  transition: transform .2s ease;
}

input:focus::-webkit-search-cancel-button {
  transform: scale(1);
  pointer-events: all;
}

input::-webkit-search-cancel-button:active {
  transform: scale(.95);
  pointer-events: all;
}

button:active {
    background-color: var(--accent-500);
    color: var(--text-100);
    scale: .95;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
