<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jqe1gld.css">
    <title>songslike.that</title>
</head>

<body>
    <header>
        <div class="header-inner">
            <h1>songslike.that</h1>
            <p>For when you heard a song and thought: <i>"I want more songs like that!"</i></p>
            <div class="search">
                <input id="search-input" placeholder="Type the song name, then select the song from the suggestions"
                    type="search" autocomplete="off">
                <!-- <button id="search-btn">Search</button> -->
            </div>
            <div id="suggestions" class="songs-suggestions"></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 31">
            <path fill="var(--main-300)" fill-opacity="1"
                d="M1440,31l-120-5.3c-120-5.7-360-15.7-600-16-240,.3-480,10.3-600,16L0,31V0h1440v31Z" />
        </svg>
    </header>
    <main>
        <section class="similar-songs">
            <div class="list-header">
                <span>Songs like <b id="echo-name">song</b> - <b id="echo-artist">artist</b></span>
                <span>Sorted by
                    <select>
                        <option value="date">Date</option>
                        <option value="streams">Streams</option>
                    </select>
                </span>
            </div>
            <div class="song-block">
                <div class="song-info">
                    <img src="/img/placeholder.jpg">
                    <p>Song Name</p>
                    <span>Artist</span>
                </div>
                <div class="song-links">
                    <a title="Open in Apple Music"><img src="/img/apple-music.svg" alt=""></a>
                    <a title="Open in Spotify"><img src="/img/spotify.svg" alt=""></a>
                    <a title="Open in Amazon Music"><img src="/img/amazon-music.svg" alt=""></a>
                </div>
                <div class="song-playback">
                    <p>Play</p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>
<script src="search.js"></script>