<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>songslikethat</title>
    <!-- style -->
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jqe1gld.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
</head>

<body>
    <header>
        <div class="header-inner">
            <a href="/" title="Songslikethat Home"><h1>songslikethat</h1></a>
            <p>For when you heard a song and thought: <i>"I want more songs like that!"</i></p>
            <div class="search">
                <input id="search-input" placeholder="Search for a song..." type="search" autocomplete="off">
            </div>
            <div id="suggestions" class="songs-suggestions hide-suggestions"></div>
        </div>
        <svg id="header-curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 31">
            <path fill="var(--main-300)" fill-opacity="1"
                d="M1440,31l-120-5.3c-120-5.7-360-15.7-600-16-240,.3-480,10.3-600,16L0,31V0h1440v31Z" />
        </svg>
    </header>
    <main>
        <section class="home">
            <div class="home-background">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 22.04">
                    <path d="M1440,21.3l-120-5.3C1200,10.3,960,.3,720,0,480,.3,240,10.3,120,16L0,21.3v.74h1440v-.74Z"/>
                </svg>
                <div></div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 22.04">
                    <path d="M1440,21.3l-120-5.3C1200,10.3,960,.3,720,0,480,.3,240,10.3,120,16L0,21.3v.74h1440v-.74Z"/>
                </svg>
            </div>
            <div class="welcome">
                <h2>Search a song to get started!</h2>
                <p>Type a song name into the search bar above, then select the song from the suggestions.</p>
            </div>
            <div class="recent-home hidden">
                <h2>Pick up where you left off</h2>
                <button class="scroll-button hidden" id="scroll-left" onclick="scrollBack()">
                    <svg viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M34.4895 55.9812L31.5166 59.0314C30.2578 60.3229 28.2223 60.3229 26.9769 59.0314L0.944091 32.3357C-0.314697 31.0442 -0.314697 28.9558 0.944091 27.678L26.9769 0.968628C28.2357 -0.322876 30.2712 -0.322876 31.5166 0.968628L34.4895 4.01878C35.7616 5.32402 35.7348 7.45363 34.4359 8.73139L18.2993 24.5042L46.7861 24.5042C48.5671 24.5042 50 25.9744 50 27.8017V32.1983C50 34.0256 48.5671 35.4958 46.7861 35.4958L18.2993 35.4958L34.4359 51.2686C35.7482 52.5464 35.775 54.676 34.4895 55.9812Z" />
                    </svg>
                </button>
                <button class="scroll-button  hidden" id="scroll-right" onclick="scrollForward()">
                    <svg style="rotate: 180deg" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M34.4895 55.9812L31.5166 59.0314C30.2578 60.3229 28.2223 60.3229 26.9769 59.0314L0.944091 32.3357C-0.314697 31.0442 -0.314697 28.9558 0.944091 27.678L26.9769 0.968628C28.2357 -0.322876 30.2712 -0.322876 31.5166 0.968628L34.4895 4.01878C35.7616 5.32402 35.7348 7.45363 34.4359 8.73139L18.2993 24.5042L46.7861 24.5042C48.5671 24.5042 50 25.9744 50 27.8017V32.1983C50 34.0256 48.5671 35.4958 46.7861 35.4958L18.2993 35.4958L34.4359 51.2686C35.7482 52.5464 35.775 54.676 34.4895 55.9812Z" />
                    </svg>
                </button>
                <div class="card-scroller-wrapper">
                    <div class="card-scroller">
                    </div>
                </div>
            </div>
            </section>
            <section class="similar-songs hidden">
                <div class="list-header">
                    <ul id="breadcrumbs">
                        <span>Songs like </span>
                        <svg id="arrow" class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path
                                d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
                        </svg>
                    </ul>
                    <button class="sort-toggle">
                        <span id="sort-label">Display Settings</span>
                        <svg width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z" />
                        </svg>
                        <div class="sort-popup">
                            <span>Sorting</span>
                            <a class="option checked" name="sorting" id="pop-low-high" onclick="changeSort(this)">Popularity, High
                                to Low</a>
                            <a class="option" name="sorting" id="pop-high-low" onclick="changeSort(this)">Popularity, Low to
                                High</a>
                            <a class="option" name="sorting" id="date-new-old" onclick="changeSort(this)">Date, Newest to
                                Oldest</a>
                            <a class="option" name="sorting" id="date-old-new" onclick="changeSort(this)">Date, Oldest to
                                Newest</a>
                            <span>Songs per page</span>
                            <div class="row">
                                <a class="option checked" name="view" id="10" onclick="changeView(this)">10</a>
                                <a class="option" name="view" id="20" onclick="changeView(this)">20</a>
                                <a class="option" name="view" id="30" onclick="changeView(this)">30</a>
                                <a class="option" name="view" id="40" onclick="changeView(this)">40</a>
                                <a class="option" name="view" id="50" onclick="changeView(this)">50</a>
                            </div>
                        </div>
                    </button>
                    <button title="Back to top" class="to-top" id="to-top">
                        <svg width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path
                                d="M214.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 109.3 160 480c0 17.7 14.3 32 32 32s32-14.3 32-32l0-370.7 73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128z" />
                        </svg>
                    </button>
                </div>
                <div class="loader">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 400">
                        <path style="scale: .9; translate: 0 -20px;" id="path-o5z6FotFehNbfhE4NW4AeY"
                            d="M 989.838 216.633 C 989.668 218.113 986.808 242.433 985.318 251.453 C 983.488 262.583 978.388 286.813 975.408 298.593 C 974.628 301.663 971.968 310.263 971.858 310.623 C 966.808 327.713 955.368 341.863 939.668 350.413 C 929.718 355.823 918.798 358.573 907.778 358.573 C 901.398 358.573 894.998 357.653 888.708 355.803 C 867.148 349.433 855.038 327.463 859.918 303.563 C 866.038 273.623 872.018 246.843 879.898 214.023 C 885.598 190.323 905.558 175.203 927.378 178.063 C 932.818 178.773 938.138 180.163 943.268 182.193 C 941.288 150.583 927.868 120.913 904.928 97.8327 C 878.048 70.7721 840.118 55.2522 800.876 55.2522 C 761.636 55.2522 723.726 70.7721 696.836 97.8327 C 673.906 120.913 660.486 150.583 658.506 182.193 C 663.636 180.163 668.946 178.773 674.386 178.063 C 696.196 175.193 716.156 190.323 721.856 214.023 C 729.696 246.603 735.677 273.383 741.836 303.563 C 746.726 327.463 734.626 349.433 713.067 355.803 C 695.906 360.873 677.806 358.953 662.106 350.413 C 646.396 341.863 634.957 327.713 629.897 310.553 C 629.807 310.263 627.137 301.673 626.357 298.603 C 623.387 286.863 618.297 262.633 616.447 251.453 C 614.947 242.353 612.047 217.643 611.917 216.603 C 608.477 190.343 610.867 164.163 619.047 138.863 C 626.857 114.733 639.496 92.5921 656.626 73.0621 C 693.356 31.2022 745.936 7.20232 800.876 7.20232 C 855.818 7.20232 908.408 31.2022 945.128 73.0621 C 962.258 92.5921 974.908 114.733 982.708 138.863 C 990.888 164.143 993.288 190.313 989.838 216.633 Z"
                            transform-origin="801.19 300" repeatCount="indefinite">
                            <animateTransform attributeName="transform" type="rotate" begin="0" dur="4"
                                keyTimes="0; 0.24586051179126941; 0.5017561465127948; 0.7526342197691921; 1"
                                values="-6; 6; -6; 6; -6" repeatCount="indefinite" additive="sum" calcMode="spline"
                                keySplines="0.86 0 0.12 1;0.86 0 0.12 1;0.86 0 0.12 1;0.86 0 0.12 1">
                            </animateTransform>
                        </path>
                        <path id="path-8jgGss6ArLnntqd6Xnu6X6"
                            d="M 1186.32 51.4827 C 1190.84 52.1627 1194.8 54.9827 1196.94 59.0127 L 1212.25 87.8026 L 1268.39 193.383 C 1277.79 211.063 1268.2 234.523 1247.01 245.793 C 1225.81 257.063 1201.01 251.893 1191.61 234.213 C 1182.21 216.533 1191.8 193.073 1212.99 181.803 C 1217.47 179.423 1222.13 177.763 1226.77 176.843 L 1195.81 118.613 L 1109.76 203.763 L 1154.03 287.023 C 1163.43 304.703 1153.84 328.163 1132.65 339.433 C 1111.46 350.703 1086.65 345.533 1077.25 327.853 C 1067.85 310.173 1077.44 286.713 1098.63 275.443 C 1103.11 273.063 1107.77 271.403 1112.41 270.483 L 1079.11 207.853 L 1063.8 179.063 C 1060.8 173.423 1061.86 166.443 1066.39 161.933 L 1173.95 55.5027 C 1177.21 52.2827 1181.79 50.7627 1186.33 51.4827 L 1186.33 51.4827 Z"
                            transform-origin="center" transform="" style="transform-box: fill-box;" fill-opacity="0">
                            <animateTransform attributeName="transform" type="rotate" begin="0" dur="2"
                                keyTimes="0; 0.20450969878143802; 0.7441692546583851; 1" values="0; 0; 41; 41"
                                repeatCount="indefinite" additive="sum" calcMode="spline"
                                keySplines="0 0 1 1; 0.32 0 0.07 1; 0 0 1 1">
                            </animateTransform>
                            <animate attributeName="fill-opacity"
                                keyTimes="0; 0.204509698781438; 0.23137926399882933; 0.2896620082815737; 0.7164410316618695; 0.7441692546583851; 1"
                                values="0; 0; 0; 1; 0; 0; 0" begin="0" dur="2" repeatCount="indefinite" calcMode="spline"
                                keySplines="0 0 1 1; 0 0 1 1; 0.95 0.03 0.87 0.08; 0.78 0.05 0.85 0.16; 0 0 1 1; 0 0 1 1">
                            </animate>
                        </path>
                        <path id="path-9eLpgEiDyAFuDuQE2dQTbV"
                            d="M 1377.1 212.943 L 1336.83 242.313 L 1368.15 331.253 C 1374.8 350.133 1361.82 371.903 1339.17 379.873 C 1316.52 387.843 1292.77 379.023 1286.12 360.143 C 1279.47 341.263 1292.45 319.493 1315.1 311.523 C 1319.88 309.843 1324.74 308.893 1329.46 308.673 L 1305.9 241.773 L 1295.07 211.013 C 1292.95 204.993 1295.04 198.253 1300.19 194.463 L 1347.96 159.633 C 1351.67 156.933 1356.45 156.053 1360.8 157.513 C 1365.15 158.973 1368.66 162.233 1370.18 166.553 L 1381.51 198.723 C 1383.34 203.923 1381.54 209.703 1377.09 212.943 Z"
                            transform-origin="center" transform="" style="transform-box: fill-box;" fill-opacity="0">
                            <animateTransform attributeName="transform" type="rotate" begin="0" dur="2"
                                keyTimes="0; 0.2787924430641824; 0.8110650818042121; 1" values="0; 0; 41; 0"
                                repeatCount="indefinite" additive="sum" calcMode="spline"
                                keySplines="0 0 1 1; 0.32 0 0.07 1; 0 0 1 1">
                            </animateTransform>
                            <animate attributeName="fill-opacity"
                                keyTimes="0; 0.2787924430641824; 0.30794475256431797; 0.36460025056185863; 0.78050983436853; 0.8110650818042121; 1"
                                values="0; 0; 0; 1; 0; 0; 0" begin="0" dur="2" repeatCount="indefinite" calcMode="spline"
                                keySplines="0 0 1 1; 0 0 1 1; 0.95 0.03 0.87 0.08; 0.78 0.05 0.85 0.16; 0 0 1 1; 0 0 1 1">
                            </animate>
                        </path>
                        <path id="path-fJyUWWQbLjiFG3LGf8jadL"
                            d="M 1498.45 118.103 L 1482.31 165.253 L 1558.98 220.143 C 1575.26 231.793 1577.1 257.073 1563.13 276.593 C 1549.16 296.113 1524.63 302.513 1508.36 290.853 C 1492.08 279.203 1490.24 253.923 1504.21 234.403 C 1507.16 230.283 1510.6 226.723 1514.34 223.833 L 1456.67 182.543 L 1430.15 163.563 C 1424.96 159.843 1422.81 153.123 1424.86 147.073 L 1444.01 91.1426 C 1445.5 86.8026 1448.91 83.3426 1453.31 82.0426 C 1457.71 80.7426 1462.46 81.4026 1466.18 84.0726 L 1493.92 103.933 C 1498.4 107.143 1500.24 112.903 1498.46 118.113 Z"
                            transform-origin="center" transform="" style="transform-box: fill-box;" fill-opacity="0">
                            <animateTransform attributeName="transform" type="rotate" begin="0" dur="2"
                                keyTimes="0; 0.35373068534446744; 0.8966810238331979; 1" values="0; 0; 41; 0"
                                repeatCount="indefinite" additive="sum" calcMode="spline"
                                keySplines="0 0 1 1; 0.32 0 0.07 1; 0 0 1 1">
                            </animateTransform>
                            <animate attributeName="fill-opacity"
                                keyTimes="0; 0.35373068534446744; 0.3850400207005598; 0.4616665310795746; 0.8735723281810238; 0.896681023833198; 1"
                                values="0; 0; 0; 1; 0; 0; 0" begin="0" dur="2" repeatCount="indefinite" calcMode="spline"
                                keySplines="0 0 1 1; 0 0 1 1; 0.95 0.03 0.87 0.08; 0.78 0.05 0.85 0.16; 0 0 1 1; 0 0 1 1">
                            </animate>
                        </path>
                        <path id="path-kigEURckwKwwoH7kKcqBHW"
                            d="M 565.521 206.277 L 521.031 183.807 L 456.121 252.207 C 442.34 266.727 417.05 265.087 399.64 248.557 C 382.23 232.027 379.26 206.867 393.04 192.347 C 406.821 177.827 432.11 179.467 449.521 195.997 C 453.201 199.487 456.251 203.377 458.601 207.487 L 507.421 156.037 L 529.871 132.387 C 534.271 127.757 541.221 126.547 546.931 129.407 L 599.701 156.067 C 603.791 158.137 606.751 161.987 607.441 166.537 C 608.151 171.237 606.811 175.687 603.671 179.007 L 580.191 203.747 C 576.401 207.747 570.441 208.777 565.521 206.297 Z"
                            transform-origin="center" transform="" fill-opacity="0" style="transform-box: fill-box;">
                            <animate attributeName="fill-opacity"
                                keyTimes="0; 0.1868267880106779; 0.21338114811574904; 0.28924898017417966; 0.7944975206225646; 0.8249466524922735; 1"
                                values="0; 0; 0; 1; 0; 0; 0" begin="1" dur="2" repeatCount="indefinite" calcMode="spline"
                                keySplines="0 0 1 1; 0 0 1 1; 0.95 0.03 0.87 0.08; 0.78 0.05 0.85 0.16; 0 0 1 1; 0 0 1 1">
                            </animate>
                            <animateTransform attributeName="transform" type="rotate" begin="1" dur="2"
                                keyTimes="0; 0.18682678801067767; 0.8249466524922732; 1" values="-33; -33; -63; -63"
                                repeatCount="indefinite" additive="sum" calcMode="spline"
                                keySplines="0 0 1 1; 0.32 0 0.07 1; 0 0 1 1">
                            </animateTransform>
                        </path>
                        <path id="path-aUgv9VuK5eh6RRHZ51aiPD"
                            d="M 459.323 267.696 C 459.373 272.266 457.223 276.626 453.582 279.386 L 427.602 299.106 L 332.363 371.396 C 316.412 383.496 291.723 377.786 277.212 358.666 C 262.702 339.546 263.842 314.226 279.783 302.126 C 295.732 290.026 320.423 295.736 334.932 314.856 C 338.003 318.896 340.382 323.236 342.033 327.656 L 394.563 287.786 L 296.753 216.456 L 221.642 273.466 C 205.693 285.566 181.003 279.856 166.492 260.736 C 151.982 241.616 153.122 216.296 169.063 204.196 C 185.003 192.096 209.702 197.806 224.212 216.926 C 227.283 220.966 229.663 225.306 231.313 229.726 L 287.813 186.846 L 313.792 167.126 C 318.882 163.266 325.932 163.196 331.113 166.946 L 453.372 256.106 C 457.073 258.816 459.303 263.096 459.323 267.686 L 459.323 267.686 Z"
                            transform-origin="center" transform="" fill-opacity="0" style="transform-box: fill-box;">
                            <animateTransform attributeName="transform" type="rotate" begin="1" dur="2"
                                keyTimes="0; 0.24173903918101777; 0.8680733564670183; 1" values="-25; -25; -63; -63"
                                repeatCount="indefinite" additive="sum" calcMode="spline"
                                keySplines="0 0 1 1; 0.32 0 0.07 1; 0 0 1 1">
                            </animateTransform>
                            <animate attributeName="fill-opacity"
                                keyTimes="0; 0.24173903918101755; 0.27043756120713336; 0.34630539326556414; 0.851553933713949; 0.8680733564670184; 1"
                                values="0; 0; 0; 1; 0; 0; 0" begin="1" dur="2" repeatCount="indefinite" calcMode="spline"
                                keySplines="0 0 1 1; 0 0 1 1; 0.95 0.03 0.87 0.08; 0.78 0.05 0.85 0.16; 0 0 1 1; 0 0 1 1">
                            </animate>
                        </path>
                        <path id="path-uQ2VBWm44E1ZcbUpuWqoxE"
                            d="M 206.266 198.803 L 159.227 182.333 L 103.796 258.623 C 92.0258 274.823 66.7458 276.493 47.3258 262.383 C 27.9068 248.263 21.6759 223.703 33.4469 207.503 C 45.2158 191.303 70.4958 189.633 89.9168 203.743 C 94.0159 206.723 97.5558 210.183 100.417 213.943 L 142.106 156.563 L 161.276 130.183 C 165.026 125.013 171.766 122.913 177.806 125.003 L 233.606 144.543 C 237.936 146.063 241.377 149.493 242.646 153.913 C 243.917 158.333 243.216 163.063 240.526 166.763 L 220.477 194.363 C 217.236 198.823 211.466 200.623 206.266 198.803 Z"
                            transform-origin="center" transform="" stroke-opacity="1" fill-opacity="0"
                            style="transform-box: fill-box;">
                            <animateTransform attributeName="transform" type="rotate" begin="1" dur="2"
                                keyTimes="0; 0.30118427625464955; 0.9289070485318774; 1" values="0; 0; -63; -63"
                                repeatCount="indefinite" additive="sum" calcMode="spline"
                                keySplines="0 0 1 1; 0.32 0 0.07 1; 0 0 1 1">
                            </animateTransform>
                            <animate attributeName="fill-opacity"
                                keyTimes="0; 0.3011842762546495; 0.3298827982807653; 0.4088539562661291; 0.9038532388030783; 0.9289070485318776; 1"
                                values="0; 0; 0; 1; 0; 0; 0" begin="1" dur="2" repeatCount="indefinite" calcMode="spline"
                                keySplines="0 0 1 1; 0 0 1 1; 0.95 0.03 0.87 0.08; 0.78 0.05 0.85 0.16; 0 0 1 1; 0 0 1 1">
                            </animate>
                        </path>
                    </svg>
                    <p>Searching songslikethat...</p>
                </div>
                <div class="list"></div>
                <div class="load-more">
                    <button class="load-button hidden" onclick="loadMoreSongs()">Load More</button>
                    <span id="noMoreSongs" class="hidden">No more songs to load</span>
                </div>
            </section>
    </main>
    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 31">
            <path fill="var(--main-300)" fill-opacity="1" d="M1440,31l-120-5.3c-120-5.7-360-15.7-600-16-240,.3-480,10.3-600,16L0,31V0h1440v31Z" />
        </svg>
        <section class="recent-footer hidden">
                <div class="recent-header">
                    <h2>Recent Searches</h2>
                    <button class="scroll-button hidden" id="scroll-left" onclick="scrollBack()">
                        <svg viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.4895 55.9812L31.5166 59.0314C30.2578 60.3229 28.2223 60.3229 26.9769 59.0314L0.944091 32.3357C-0.314697 31.0442 -0.314697 28.9558 0.944091 27.678L26.9769 0.968628C28.2357 -0.322876 30.2712 -0.322876 31.5166 0.968628L34.4895 4.01878C35.7616 5.32402 35.7348 7.45363 34.4359 8.73139L18.2993 24.5042L46.7861 24.5042C48.5671 24.5042 50 25.9744 50 27.8017V32.1983C50 34.0256 48.5671 35.4958 46.7861 35.4958L18.2993 35.4958L34.4359 51.2686C35.7482 52.5464 35.775 54.676 34.4895 55.9812Z"/>
                        </svg>
                    </button>
                    <button class="scroll-button hidden" id="scroll-right" onclick="scrollForward()">
                        <svg style="rotate: 180deg" viewBox="0 0 50 60" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.4895 55.9812L31.5166 59.0314C30.2578 60.3229 28.2223 60.3229 26.9769 59.0314L0.944091 32.3357C-0.314697 31.0442 -0.314697 28.9558 0.944091 27.678L26.9769 0.968628C28.2357 -0.322876 30.2712 -0.322876 31.5166 0.968628L34.4895 4.01878C35.7616 5.32402 35.7348 7.45363 34.4359 8.73139L18.2993 24.5042L46.7861 24.5042C48.5671 24.5042 50 25.9744 50 27.8017V32.1983C50 34.0256 48.5671 35.4958 46.7861 35.4958L18.2993 35.4958L34.4359 51.2686C35.7482 52.5464 35.775 54.676 34.4895 55.9812Z"/>
                        </svg>
                    </button>
                </div>
        </section>
        <section class="footer-logo">
            <div class="logo-inner">
                <a class="logo-button" href="/" title="Songslikethat Home">
                    <svg width="70px" fill="var(--main-800)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 821.1 531.92">
                        <path d="M796.21,147.6c-15.8-33.19-38.95-61.59-68.8-84.39C673.28,21.86,598.5,0,511.16,0c-35.63,0-69.48,3.66-100.61,10.88C379.42,3.66,345.58,0,309.94,0c-87.33,0-162.11,21.86-216.25,63.21-14.92,11.4-28.17,24.19-39.66,38.29-11.49,14.1-21.23,29.5-29.13,46.1C8.38,182.3,0,222.13,0,265.97s8.37,84.04,24.89,118.8c15.81,33.25,38.97,61.64,68.84,84.38,53.96,41.07,128.72,62.77,216.21,62.77,35.66,0,69.5-3.62,100.61-10.78,31.12,7.16,64.96,10.78,100.61,10.78,87.49,0,162.25-21.7,216.21-62.77,29.89-22.75,53.05-51.14,68.84-84.38,16.52-34.76,24.89-74.73,24.89-118.8s-8.38-83.67-24.89-118.37ZM518.47,473.8c8.89-5.69,18.88-13.29,28.51-22.68l10.96-10.69-15.15,2.16c-13.5,1.92-27.46.87-40.76-3.06-10.57-3.12-20.24-8.89-27.98-16.69l-3.8-3.84-3.54,4.09c-14.57,16.89-39.32,32.46-60.6,38.18-21.29-5.72-46.04-21.29-60.61-38.18l-3.53-4.09-3.81,3.83c-7.75,7.81-17.42,13.58-27.98,16.7-13.4,3.96-27.11,4.99-40.76,3.06l-15.14-2.15,10.95,10.68c9.49,9.24,19.32,16.76,28.11,22.42-82.08-3.17-235.27-32.59-235.27-207.57,0-121.62,82.19-197.46,221.6-206.9-14.57,10.21-28.02,22.22-40.01,35.89-19.77,22.53-34.36,48.08-43.36,75.92-9.44,29.2-12.21,59.4-8.23,89.7.14,1.21,3.49,29.71,5.22,40.21,2.13,12.9,8,40.86,11.44,54.41.9,3.54,3.97,13.46,4.07,13.79,5.85,19.8,19.05,36.13,37.17,45.99,18.13,9.86,39.01,12.07,58.8,6.22,24.89-7.35,38.85-32.7,33.21-60.27-7.11-34.82-14.01-65.72-23.06-103.32-6.57-27.34-29.61-44.79-54.77-41.49-6.28.82-12.41,2.41-18.33,4.76,2.28-36.47,17.77-70.71,44.23-97.34,31.03-31.22,74.78-49.13,120.05-49.13s89.04,17.91,120.06,49.13c26.47,26.63,41.95,60.87,44.24,97.34-5.92-2.35-12.06-3.94-18.34-4.76-25.16-3.31-48.2,14.14-54.78,41.49-9.1,37.87-15.99,68.77-23.05,103.32-5.63,27.58,8.34,52.92,33.21,60.27,7.26,2.14,14.65,3.2,22.01,3.2,12.72,0,25.31-3.17,36.79-9.42,18.12-9.86,31.32-26.19,37.15-45.9.13-.42,3.2-10.35,4.09-13.89,3.45-13.59,9.33-41.55,11.44-54.39,1.72-10.4,5.01-38.43,5.21-40.18,3.98-30.37,1.22-60.56-8.22-89.74-9-27.84-23.59-53.39-43.36-75.92-12.21-13.91-25.93-26.11-40.8-36.43,145.29,6.53,231.29,83.03,231.29,207.44,0,181.82-165.41,206.48-244.57,207.83Z"/>
                    </svg>
                    <h1>songslikethat</h1>
                </a>
                <button id="theme-toggle" onclick="changeTheme()">
                    <svg class="sun theme-visible" width="45" height="45" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448.27 448.27">
                        <path d="M224.1,301c-21.3,0-39.4-7.5-54.4-22.5-15-15-22.5-33.1-22.5-54.4s7.5-39.4,22.5-54.4,33.1-22.5,54.4-22.5,39.4,7.5,54.4,22.5c15,15,22.5,33.1,22.5,54.4s-7.5,39.4-22.5,54.4c-15,15-33.1,22.5-54.4,22.5h0Z"/>
                        <path d="M20.4,244.5c-5.8,0-10.6-1.9-14.5-5.9S0,229.9,0,224.1s2-10.6,5.9-14.5c3.9-3.9,8.7-5.9,14.5-5.9h77.6c5.8,0,10.6,1.9,14.5,5.9,3.9,3.9,5.9,8.7,5.9,14.5s-1.9,10.6-5.9,14.5-8.7,5.9-14.5,5.9H20.4Z"/>
                        <path d="M350.3,244.5c-5.8,0-10.6-1.9-14.5-5.9s-5.9-8.7-5.9-14.5,2-10.6,5.9-14.5c3.9-3.9,8.7-5.9,14.5-5.9h77.6c5.8,0,10.6,1.9,14.5,5.9s5.9,8.7,5.9,14.5-2,10.6-5.9,14.5c-3.9,3.9-8.7,5.9-14.5,5.9h-77.6Z"/>
                        <path d="M203.8,20.4c0-5.8,1.9-10.6,5.9-14.5C213.5,1.9,218.4,0,224.1,0s10.6,2,14.5,5.9c3.9,3.9,5.9,8.7,5.9,14.5v77.6c0,5.8-1.9,10.6-5.9,14.5-3.9,3.9-8.7,5.9-14.5,5.9s-10.6-1.9-14.5-5.9-5.9-8.7-5.9-14.5V20.4Z"/>
                        <path d="M203.8,350.3c0-5.8,1.9-10.6,5.9-14.5s8.7-5.9,14.5-5.9,10.6,2,14.5,5.9c3.9,3.9,5.9,8.7,5.9,14.5v77.6c0,5.8-1.9,10.6-5.9,14.5s-8.7,5.9-14.5,5.9-10.6-2-14.5-5.9c-3.9-3.9-5.9-8.7-5.9-14.5v-77.6Z"/>
                        <path d="M65.7,94.3c-4.1-4.1-6.1-8.9-6.1-14.4s2-10.3,6.1-14.4c4.1-4.1,8.9-6.1,14.4-6.1s10.3,2,14.4,6.1l54.8,54.8c4.1,4.1,6.1,8.9,6.1,14.4s-2,10.3-6.1,14.4-8.9,6.1-14.4,6.1-10.3-2-14.4-6.1c0,0-54.8-54.8-54.8-54.8Z"/>
                        <path d="M299,327.7c-4.1-4.1-6.1-8.9-6.1-14.4s2-10.3,6.1-14.4,8.9-6.1,14.4-6.1,10.3,2,14.4,6.1l54.8,54.8c4.1,4.1,6.1,8.9,6.1,14.4s-2,10.3-6.1,14.4-8.9,6.1-14.4,6.1-10.3-2-14.4-6.1l-54.8-54.8Z"/>
                        <path d="M353.8,65.5c4.1-4.1,8.9-6.1,14.4-6.1s10.3,2,14.4,6.1c4.1,4.1,6.1,8.9,6.1,14.4s-2,10.3-6.1,14.4l-54.8,54.8c-4.1,4.1-8.9,6.1-14.4,6.1s-10.3-2-14.4-6.1c-4.1-4.1-6.1-8.9-6.1-14.4s2-10.3,6.1-14.4l54.8-54.8Z"/>
                        <path d="M120.5,298.9c4.1-4.1,8.9-6.1,14.4-6.1s10.3,2,14.4,6.1,6.1,8.9,6.1,14.4-2,10.3-6.1,14.4l-54.8,54.8c-4.1,4.1-8.9,6.1-14.4,6.1s-10.3-2-14.4-6.1-6.1-8.9-6.1-14.4,2-10.3,6.1-14.4c0,0,54.8-54.8,54.8-54.8Z"/>
                    </svg>
                    <svg class="moon" width="45" height="45" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.14 448">
                        <path d="M223.5,0C100,0,0,100.3,0,224s100,224,223.5,224c60.6,0,115.5-24.2,155.8-63.4,5-4.9,6.3-12.5,3.1-18.7s-10.1-9.7-17-8.5c-9.8,1.7-19.8,2.6-30.1,2.6-96.9,0-175.5-78.8-175.5-176,0-65.8,36-123.1,89.3-153.3,6.1-3.5,9.2-10.5,7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8v-.1Z"/>
                    </svg>
                </button>
            </div>
        </section>
    </footer>
</body>

</html>
<script src="search.js"></script>