<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jqe1gld.css">
    <title>songslike.that</title>
</head>

<body>
    <header>
        <div class="header-inner">
            <h1>songslike.that</h1>
            <p>For when you liked a song and thought:<br><i>"I want more songs like that!"</i></p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 31">
            <path fill="var(--grey-500)" fill-opacity="1" d="M1440,31l-120-5.3c-120-5.7-360-15.7-600-16-240,.3-480,10.3-600,16L0,31V0h1440v31Z"/>
        </svg>
    </header>
    <main>
        <p>Enter a song name and get songs similar to it.</p>
        <div class="search">
            <input placeholder="Search by song name">
            <button>Search</button>
        </div>
    </main>
    <footer>
        <p>Made by Will</p>
        <select>
            <option value="S">System Theme</option>
            <option value="D">Dark Theme</option>
            <option value="L">Light Theme</option>
        </select>
    </footer>
</body>

</html>